[config]
H=256
W=512
HW = 131072
REG_FILTERS = 3
CLASSES = 1
ACTIVATION = sigmoid
SEGMENTATION_PATH = pretrained/realworld_fpn4_small_reg/model/20210206-1026/model.ckpt

[input]
type = input
shape = [${config:H},${config:W},9]

[initial_correction]
type = channelslice
begin = 3
size = 6
inputs = input

[estimation_input]
type = channelslice
begin = 0
size = 3
inputs = input

[segmentation]
type=custommodel
config_path = custom_models/fpn_small/model.config
weights_path = ${config:SEGMENTATION_PATH}
activation = ${config:ACTIVATION}
classes = ${config:CLASSES}
H = ${config:H}
W = ${config:W}
HW = ${config:HW}
inputs = initial_correction

[masking1]
type = masking
invert_mask = True
inputs = ["estimation_input", "segmentation"]

[masking2]
type = masking
inputs = ["estimation_input", "segmentation"]

[estimation1]
type=simplefc4
size = [${config:H},${config:W},3]
weights_path=/home/donik/Desktop/models/pretraining/SimpleFc4_cube+/model.ckpt
out_channels = ${config:REG_FILTERS}
inputs = masking1

[estimation2]
type=simplefc4
size = [${config:H},${config:W},3]
weights_path=/home/donik/Desktop/models/pretraining/SimpleFc4_cube+/model.ckpt
out_channels = ${config:REG_FILTERS}
inputs = masking2

[out]
type = tuple
inputs = ["segmentation", "estimation1", "estimation2"]