[config]
H=256
W=512
HW = 131072
REG_FILTERS = 3
CLASSES = 3
ACTIVATION = softmax

[input]
type = input
shape = [${config:H},${config:W},6]

[branch_input]
type = channelslice
begin = 0
size = 3
inputs = input

[vgg16]
type = unet
backbone_name=vgg16
input_shape=(${config:H}, ${config:H}, 3)
classes=${config:CLASSES}
activation=${config:ACTIVATION}
inputs = branch_input
encoder_weights=None
