[config]
H=256
W=512
HW = 131072
REG_FILTERS = 3
CLASSES = 1
ACTIVATION = sigmoid
RB=False
SE_PATH= custom_models/seframework/model.config
SE_WEIGHTS_PATH = training/se1/model/20210120-1859_training/model.ckptx

[input]
type = input
shape = [${config:H},${config:W},6]

[estimation_input]
type = channelslice
begin = 0
size = 3
inputs = input

[h_input]
type = channelslice
begin = 3
size = 3
inputs = input

[estimation00]
type=simplefc4
weights_path=/home/donik/Desktop/models/pretraining/SimpleFc4_cube+/model.ckpt
size = [${config:H},${config:W},3]
out_channels = ${config:REG_FILTERS}
inputs = estimation_input

[initial_correction]
type = colorcorrection
rb=${config:RB}
inputs = ["estimation_input", "estimation00"]

[segmentation_input]
type = concat
axis = -1
inputs = ["estimation_input", "initial_correction", "h_input"]

[se1]
type=custommodel
config_path = ${config:SE_PATH}
weights_path = ${config:SE_WEIGHTS_PATH}
activation = ${config:ACTIVATION}
classes = ${config:CLASSES}
H = ${config:H}
W = ${config:W}
HW = ${config:HW}
inputs = segmentation_input

[estimation01]
type=index
index=1
inputs=se1

[estimation02]
type=index
index=2
inputs=se1

[segmentation1]
type=index
index=0
inputs = se1

[corrected_input]
type = colorcorrection
rb=${config:RB}
inputs = ["estimation_input", "estimation01"]


[segmentation_input2]
type = concat
axis = -1
inputs = ["estimation_input", "corrected_input", "h_input"]

[se2]
type = shared_weights
original_layer = se1
inputs = segmentation_input2

[segmentation2]
type=index
index=0
inputs = se2

[estimation12]
type=index
index=2
inputs=se2

[estimation11]
type=index
index=1
inputs=se2

[corrected_input2]
type = colorcorrection
rb=${config:RB}
inputs = ["estimation_input", "estimation11"]

[segmentation_input3]
type = concat
axis = -1
inputs = ["estimation_input", "corrected_input2", "h_input"]

[se3]
type = shared_weights
original_layer = se1
inputs = segmentation_input3

[segmentation3]
type=index
index=0
inputs = se3

[estimation22]
type=index
index=2
inputs=se3

[estimation21]
type=index
index=1
inputs=se3

[out]
type = tuple
inputs = ["estimation00", "segmentation3", "estimation21", "estimation22"]