[model]
folder = ./custom_models/fpn_small
activation = sigmoid
classes = 1

[parameters]
epochs = 500
batch_size = 4
size = (256, 512)

[split]
test = 0.2
train = 0.8
valid = 0.2
split = train_test_split
seed = 42

[mapping]
mapping = image_histogram_mapping_segmentation
uv = False
normalize = False
reg_head = False
weighted = True

[train]
dataset_type = cube2
dataset_path = /media/donik/Disk/Cube2
list_name = list_outdoor.txt
regression = False
return_gt = True
corrected = False
round = False
size = ${parameters:size}
batch_size = ${parameters:batch_size}

[valid]
dataset_type = cube2
dataset_path = /media/donik/Disk/Cube2
list_name = list_outdoor.txt
regression = False
return_gt = True
round = False
corrected = False
size = ${parameters:size}
batch_size = ${parameters:batch_size}

[test]
dataset_type = cube2
dataset_path = /media/donik/Disk/Cube2
list_name = list_outdoor.txt
regression = False
return_gt = True
round = False
corrected = False
size = ${parameters:size}
batch_size = 1

[loss]
#name = CEDice
name = MaskRegressionLoss
weight = 1.0

[optimizer]
name = AdamW
weight_decay=1e-7
learning_rate=1e-4
beta_1=0.95
beta_2=0.999

[metrics]
names = MeanAbsoluteError