[config]
H=256
W=512
HW = 131072
REG_FILTERS = 3
CLASSES = 1
ACTIVATION = sigmoid
RB=False
SEGMENTATION_PATH = pretrained/generator_vgg16_unet_reg/model/20201210-1213/model.ckpt

[input]
type = input
shape = [${config:H},${config:W},6]

[estimation_input]
type = channelslice
begin = 0
size = 3
inputs = input

[h_input]
type = channelslice
begin = 3
size = 3
inputs = input

[estimation0]
type=simplefc4
weights_path=/home/donik/Desktop/models/pretraining/SimpleFc4_cube+/model.ckpt
size = [${config:H},${config:W},3]
out_channels = ${config:REG_FILTERS}
inputs = estimation_input

[initial_correction]
type = colorcorrection
rb=${config:RB}
inputs = ["estimation_input", "estimation0"]

[segmentation_input]
type = concat
axis = -1
inputs = ["initial_correction", "h_input"]


[segmentation]
type=custommodel
config_path = custom_models/unet_vgg16/model.config
weights_path = ${config:SEGMENTATION_PATH}
activation = ${config:ACTIVATION}
classes = ${config:CLASSES}
H = ${config:H}
W = ${config:W}
HW = ${config:HW}
inputs = segmentation_input

[masking1]
type = masking
invert_mask = True
inputs = ["estimation_input", "segmentation"]

[masking2]
type = masking
inputs = ["estimation_input", "segmentation"]

[estimation1]
type=simplefc4
weights_path=/home/donik/Desktop/models/pretraining/SimpleFc4_cube+/model.ckpt
size = [${config:H},${config:W},3]
out_channels = ${config:REG_FILTERS}
inputs = masking1

[estimation2]
type=simplefc4
weights_path=/home/donik/Desktop/models/pretraining/SimpleFc4_cube+/model.ckpt
size = [${config:H},${config:W},3]
out_channels = ${config:REG_FILTERS}
inputs = masking2

[out]
type = tuple
inputs = ["estimation0", "segmentation", "estimation1", "estimation2"]