[model]
folder = ./custom_models/seframework_small
classes = 1
activation = sigmoid
segmentation_path=pretrained/outdoor_fpn4_small_reg/model/20210304-1953/model.ckpt

[parameters]
epochs = 500
batch_size = 4
size = (256, 512)

[split]
test = 0.2
train = 0.8
valid = 0.2
split = train_test_split
seed = 42

[mapping]
mapping = ese_mapping
corrected_input = True

[input_mapping]
mapping = multioutput_labels_mapping
count = 3

[train]
dataset_type = newcube2
dataset_path = /media/donik/Disk/Cube2_new
list_name = list_outdoor.txt
regression = False
return_gt = True
corrected = False
round = False
size = ${parameters:size}
batch_size = ${parameters:batch_size}

[valid]
dataset_type = newcube2
dataset_path = /media/donik/Disk/Cube2_new
list_name = list_outdoor.txt
regression = False
return_gt = True
corrected = False
round = False
size = ${parameters:size}
batch_size = ${parameters:batch_size}

[test]
dataset_type = newcube2
dataset_path = /media/donik/Disk/Cube2_new
list_name = list_outdoor.txt
regression = False
return_gt = True
corrected = False
round = False
size = ${parameters:size}
batch_size = 1

[loss1]
name = MaskRegressionLoss
weight = 1.0

[loss2]
name = IlluminantLoss
weight = 0.8

[loss3]
name = IlluminantLoss
weight = 0.8

[optimizer]
name = AdamW
weight_decay=1e-6
learning_rate=1e-6
beta_1=0.95
beta_2=0.999


[metrics1]
names = MeanAbsoluteError

[metrics2]
names = cos_sim

[metrics3]
names = cos_sim