[config]
H=256
W=512
HW = 131072
REG_FILTERS = 3
CLASSES = 3
ACTIVATION = softmax
CHANNELS=12
GAMMA=1

[input]
type = input
shape = [${config:H},${config:W},${config:CHANNELS}]

[hist_input]
type = channelslice
begin = 3
size = 3
inputs = input

[gt1_input]
type = channelslice
begin = 6
size = 3
inputs = input

[gt2_input]
type = channelslice
begin = 9
size = 3
inputs = input

#BOTTOM UP
[branch_input]
type = channelslice
begin = 0
size = 3
inputs = input


[branch2_conv1]
type = conv2d
filters = 128
kernel_size = (8,8)
strides = 4
padding = same
inputs = branch_input
activation = relu


[branch2_conv2]
type = conv2d
filters = 256
kernel_size = 4
strides = 2
padding = same
inputs = branch2_conv1
activation = relu

[branch1_conv]
type = conv2d
filters = 240
kernel_size = (1,1)
padding = same
inputs = branch_input
activation = relu

[branch1_maxpool]
type = maxpool
pool_size = (8,8)
inputs = branch1_conv


#FITTING DIMENSIONS
[fitconv1]
type = conv2d
filters = 256
strides = 1
kernel_size = 1
inputs = branch1_maxpool

[fitconv2]
type = conv2d
filters = 256
strides = 1
kernel_size = 1
inputs = branch2_conv2

[fitconv3]
type = conv2d
filters = 256
strides = 1
kernel_size = 1
inputs = branch2_conv1

[fitconv4]
type = conv2d
filters = 256
strides = 2
kernel_size = 8
padding = same
inputs = branch_input


#TOP DOWN
[top_down_add_1]
type=add
inputs = ["fitconv1", "fitconv2"]

[top_down_conv_1]
type=conv2d
filters = 256
kernel_size = 3
strides = 1
padding = same
inputs = top_down_add_1
activation = relu

[upsample2]
type = upsampling
inputs = top_down_conv_1
size = (2, 2)

[top_down_add_2]
type=add
inputs = ["upsample2", "fitconv3"]

[top_down_conv_2]
type=conv2d
filters = 256
kernel_size = 3
strides = 1
padding = same
inputs = top_down_add_2
activation = relu

[upsample3]
type = upsampling
inputs = top_down_conv_2
size = (2, 2)

[top_down_add_3]
type=add
inputs = ["upsample3", "fitconv4"]

[top_down_conv_3]
type=conv2d
filters = 256
kernel_size = 3
strides = 1
padding = same
inputs = top_down_add_3
activation = relu


#SEGMENTATION HEADS

[seg_conv2]
type=conv2d
filters = 64
kernel_size = 3
strides = 1
padding = same
inputs = top_down_conv_1
activation = relu

[seg_upsample2]
type = upsampling
size = (4,4)
inputs = seg_conv2

[seg_conv3]
type=conv2d
filters = 64
kernel_size = 3
strides = 1
padding = same
inputs = top_down_conv_2
activation = relu

[seg_upsample3]
type = upsampling
size = (2,2)
inputs = seg_conv3

[seg_conv4]
type=conv2d
filters = 64
kernel_size = 3
strides = 1
padding = same
inputs = top_down_conv_3
activation = relu

[seg_upsample4]
type = upsampling
size = (1,1)
inputs = seg_conv4

[seg_concat]
type = concat
axis = -1
inputs = ["seg_upsample2", "seg_upsample3", "seg_upsample4"]

[out_conv]
type = conv2d
strides = 1
kernel_size = 3
filters = 3
padding = same
activation = relu

[out_norm]
type=normalize
ord = 2
inputs = out_conv

[out_up]
type = upsampling
size = (2,2)
inputs = out_norm
interpolation = nearest

[out_rbf_seg]
type = rbf
activation = ${config:ACTIVATION}
gamma=${config:GAMMA}
inputs = ["out_up", "gt1_input", "gt2_input"]