[config]
H=256
W=512
HW = 131072
REG_FILTERS = 3
CLASSES = 3
ACTIVATION = softmax
CHANNELS=12

[input]
type = input
shape = [${config:H},${config:W},${config:CHANNELS}]

#BOTTOM UP
[branch_input]
type = channelslice
begin = 0
size = 3
inputs = input

[input_concat]
type = concat
axis = -1
inputs = ["input", "hist1"]

[branch2_conv1]
type = conv2d
filters = 128
kernel_size = (8,8)
strides = 4
padding = same
inputs = input
activation = relu

[branch2_cell1_hist_concat]
type = concat
axis = -1
inputs = ["branch2_conv1", "hist4"]

[branch2_conv2]
type = conv2d
filters = 256
kernel_size = 4
strides = 2
padding = same
inputs = branch2_conv1
activation = relu

[branch2_cell2_hist_concat]
type = concat
axis = -1
inputs = ["branch2_conv2", "hist8"]

[branch1_conv]
type = conv2d
filters = 240
kernel_size = (1,1)
padding = same
inputs = input
activation = relu

[branch1_maxpool]
type = maxpool
pool_size = (8,8)
inputs = branch1_conv

[branch1_cell2_hist_concat]
type = concat
axis = -1
inputs = ["branch1_maxpool", "hist8"]


#FITTING DIMENSIONS
[fitconv1]
type = conv2d
filters = 256
strides = 1
kernel_size = 1
inputs = branch1_cell2_hist_concat

[fitconv2]
type = conv2d
filters = 256
strides = 1
kernel_size = 1
inputs = branch2_cell2_hist_concat

[fitconv3]
type = conv2d
filters = 256
strides = 1
kernel_size = 1
inputs = branch2_cell1_hist_concat

[fitconv4]
type = conv2d
filters = 256
strides = 2
kernel_size = 8
padding = same
inputs = input_concat


#TOP DOWN
[top_down_add_1]
type=add
inputs = ["fitconv1", "fitconv2"]

[top_down_conv_1]
type=conv2d
filters = 256
kernel_size = 3
strides = 1
padding = same
inputs = top_down_add_1
activation = relu

[upsample2]
type = upsampling
inputs = top_down_conv_1
size = (2, 2)

[top_down_add_2]
type=add
inputs = ["upsample2", "fitconv3"]

[top_down_conv_2]
type=conv2d
filters = 256
kernel_size = 3
strides = 1
padding = same
inputs = top_down_add_2
activation = relu

[upsample3]
type = upsampling
inputs = top_down_conv_2
size = (2, 2)

[top_down_add_3]
type=add
inputs = ["upsample3", "fitconv4"]

[top_down_conv_3]
type=conv2d
filters = 256
kernel_size = 3
strides = 1
padding = same
inputs = top_down_add_3
activation = relu


#SEGMENTATION HEADS

[seg_conv2]
type=conv2d
filters = 64
kernel_size = 3
strides = 1
padding = same
inputs = top_down_conv_1
activation = relu

[seg_upsample2]
type = upsampling
size = (4,4)
inputs = seg_conv2

[seg_conv3]
type=conv2d
filters = 64
kernel_size = 3
strides = 1
padding = same
inputs = top_down_conv_2
activation = relu

[seg_upsample3]
type = upsampling
size = (2,2)
inputs = seg_conv3

[seg_conv4]
type=conv2d
filters = 64
kernel_size = 3
strides = 1
padding = same
inputs = top_down_conv_3
activation = relu

[seg_upsample4]
type = upsampling
size = (1,1)
inputs = seg_conv4

[seg_concat]
type = concat
axis = -1
inputs = ["seg_upsample2", "seg_upsample3", "seg_upsample4"]

[out_conv]
type = conv2d
strides = 1
kernel_size = 3
filters = ${config:CLASSES}
padding = same
activation = ${config:ACTIVATION}

[out_up]
type = upsampling
size = (2,2)
inputs = out_conv
interpolation = nearest


[illuminant1]
type = channelslice
begin = 6
size = 3
inputs = input

[illuminant2]
type = channelslice
begin = 9
size = 3
inputs = input

[cosine_segmentation]
type = cosinesegmentation
normalize = True
inputs = ["out_up", "illuminant1", "illuminant2"]

[out]
type = tuple
inputs = ["out_up", "cosine_segmentation"]


#BACKUP OF THE MODEL CONFIG ORIGINAL LAST LAYERS

[illuminant1]
type = channelslice
begin = 6
size = 3
inputs = input

[illuminant2]
type = channelslice
begin = 9
size = 3
inputs = input

[cosine_segmentation]
type = cosinesegmentation
normalize = True
inputs = ["out_up", "illuminant1", "illuminant2"]

[out]
type = tuple
inputs = ["out_up", "cosine_segmentation"]
